:root{
    --fill-skills:10%;
}
.strength-password{
    display: flex;
    align-items: flex-start;
}
.strength,
.strength::after{
    display: flex;
    background-color: #888;
    position: relative;
    width: 150px;
    height: 7px;
    border-radius: 60px;
    overflow: hidden;
}
.strength::after{
    content: '';
    left: -150px;
    position: absolute;
}
.strength-text{
    margin-left: 10px;
    color: #888;
    font-size: 0.75rem;
}
.fill--10::after{
    --fill-skills: 10%
}
.fill--15::after{
    --fill-skills: 15%
}
.fill--20::after{
    --fill-skills: 20%
}
.fill--25::after{
    --fill-skills: 25%;
    background-color: red;
}
.fill--30::after{
    --fill-skills: 30%
}
.fill--35::after{
    --fill-skills: 35%
}
.fill--40::after{
    --fill-skills: 40%;
    background-color: red;
}
.fill--45::after{
    --fill-skills: 45%
}
.fill--50::after{
    --fill-skills: 50%
}
.fill--55::after{
    --fill-skills: 55%
}
.fill--60::after{
    --fill-skills: 60%;
    background-color: goldenrod;
}
.fill--65::after{
    --fill-skills: 65%
}
.fill--70::after{
    --fill-skills: 70%
}
.fill--75::after{
    --fill-skills: 75%
}
.fill--80::after{
    --fill-skills: 80%
}
.fill--85::after{
    --fill-skills: 85%
}
.fill--90::after{
    --fill-skills: 90%
}
.fill--95::after{
    --fill-skills: 95%
}
.fill--100::after{
    --fill-skills: 100%;
    background-color: #20a15d;
}
.fill--110::after{
    --fill-skills: 100%;
    background-color: red;
}
@keyframes skillsFill {
    to{
        transform: translateX(var(--fill-skills));
    }
}
.strength::after{
    animation: skillsFill .5s ease-in-out forwards;
}